.skills {
  
}

.skillCard {
  width: 200px;
  /* height: 100px; */
 /*  background-color: #961d1d; */
 /*  border: 1px solid black; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 10px;
}

.skillCard h3{
  margin-top: 20px;
  color: rgb(255, 255, 255);
    padding: 3px 8px;
    border-radius: 5px;
    font-weight: bold;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 20px;
    line-height: 1.4;
    letter-spacing: 2px;
    
}

.skillLogo {

 
}

.skillsDescription{
  /* border: 1px solid; */
  width: 100%;
  text-align: left;
  color: rgb(94, 198, 207);
  font: 400 1.4vw 'Poppins', sans-serif;
  padding: 2vw 5vw;
  background-color: #064042;

  display: flex;
  flex-wrap: wrap;
  
}

ul{
  /* width: 60%; */
}

.skillsDescription ul li{
  list-style-type: none;
  font-size: 1vw;
}

.skillsDescription ul li:nth-child(odd){
  padding: 2vw 0; 
}

ul li::before {
  content: "⭐";
 font-size: 3vw;
  
  padding-right: 2vw;


}

.progress{
  border: 1px solid red;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 1vw 1vw;
  gap: 2vw;
  /* flex-grow: 1; */
}


