.skills {
  
}

.skillCard {
  width: 200px;
  /* height: 100px; */
 /*  background-color: #961d1d; */
 /*  border: 1px solid black; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 10px;
}

.skillCard h3{
  margin-top: 20px;
  color: rgb(255, 255, 255);
    padding: 3px 8px;
    border-radius: 5px;
    font-weight: bold;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 20px;
    line-height: 1.4;
    letter-spacing: 2px;
    
}

.skillLogo {

 
}

.skillsDescription{
  /* border: 1px solid; */
  width: 100%;
  text-align: left;
  color: rgb(79, 141, 147);
  font: 400 14px/1.8 'Poppins', sans-serif;
  padding-left: 5vw;
  
}


.skillsDescription ul li{
  list-style-type: none;
}

ul li::before {
  content: "\2022";
  color: rgb(255, 255, 0);
  font-weight: bold;
  display: inline-block; 
  width: 1em;
  margin-left: -1em;
}