.main {
  padding: 0 1vw;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  justify-content: space-evenly;
  gap: 15px;
}

.greeting * {
  color:rgb(43, 226, 208)
}

.photo {
  /* display: inline-block; */
 /*  width: clamp(200px, 30%, 300px); */
  /* width: 25vw;
  height: 25vw;  */
   width: clamp(200px, 30vw, 300px);
   height: clamp(200px, 30vw, 300px);
  background-color: grey;
  border-radius: 100%;
  background-image: url("../assets/images/me.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
 
}


@media (max-width: 600px) {
  .greeting *{
    text-align: center;
    /* color: blueviolet; */

  }

  .greeting span{
    font-size: 25px;;
  }
}

