@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@700&family=Poppins&display=swap');

@import './variables';


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



body {
  /* margin-top: 1vw;
  display: flex;
  justify-content: center;
  align-items: center; */
}

.App section:nth-child(even) {
  background-color: var(--bgColorPrimary)
}

.App section{
  background-color: var(--bgColorSecondary)
}

.main-wrapper{
  margin-left: 15vw;
}

button, [type="button"] {
  padding: 10px 20px;
  border-radius: 8px;
  background-color: transparent;
  color: cyan;
  border: 2px solid;
  outline: 3px solid rgb(15, 182, 168);
  transition: 1s ease;
}

button:hover, [type="button"]:hover{
  background-color: cyan;
  color: #272727;
  font-weight: bold;
  
}


.container {
  /* border: 2px solid red; */
 /*  width: 80%; */
  /* margin: 0 auto; */
 /*  width: 100%;
	padding-right: 15px;
	padding-left: 15px; */
	margin-right: auto;
	margin-left: auto;
 /*  background-color: #1f1f20; */
 padding: 50px 1vw;
  
}


/* 
.header {
  width: 100%;
  height: 80px;
  background-color: var(--success);
 
  display: flex;

  align-items: center;
  justify-content: flex-end;
  padding: 0 20px;
} */

.main {
position: relative;
  width: 100%;
  height: 50vh;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  background-color: inherit;
  padding: 20px;
  justify-content: space-evenly;
  background-image: url('./assets/images/mainBg.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
 
}

.main::before {
  content: "";
  width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: #000;
	opacity: 0.6;
}

.skills {
  display: flex;
  padding: 10px 10px;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 10px;
  align-items: center;
  width: 100%;
  
  background-color: inherit;
  
}

.project {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
  gap: 20px;

  width: 100%;
 /* background-color: #1f1f20; */
/*  background-color: var(--bgColorPrimary); */


  text-align: center;

  
}

.variants {
  display: flex;
  flex-direction: column;
  align-items: center;

  gap: 50px;
  padding: 30px;
  width: 100%;
  /* background-color: inherit; */
}

.contacts {

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 10px;

  width: 100%;
 /*  background-color: #1f1f20; */

  text-align: center;
 
}


.contacts form {
  display: flex;
  width: clamp(300px,50%,500px) ;
  /* background-color:green; */
  gap: 20px;
  flex-direction: column;
  /* align-items: center; */

  margin: 0 auto;
  padding: 20px;
}

.contacts [type="button"] {
  margin: 0 auto;
  padding: 10px 20px;
  border-radius: 8px;
}

.footer {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
text-align: center;
  background-color: black;
  width: 100%;
  /* height: 150px; */
  padding: 10px 0 10px;
}

/* .footer h3{
  color: blue;
} */

.photos {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  gap: 10px;

  width: 50%;
  justify-content: space-between;
  border: 1px solid;
}

.photos img {
  width: 50px;
  height: 50px;
  background-color: inherit;
  cursor:pointer;
}

h1, h2, h3, h4, h5, h6 {
	font: 700 32px/1.2 'Josefin Sans', sans-serif;
	letter-spacing: 5px;
	margin: 0;
	color: #fff;
}

p, span{
  font: 400 14px/1.8 'Poppins', sans-serif;
	color: #fff;
}


@media (max-width: 1092px)  {
  .main-wrapper{
    margin: 0;
  }
}

.progress-85 {
	background-image: linear-gradient(
			37deg,
			cyan 50%,
			transparent 50%,
			transparent
		),
		linear-gradient(265deg, cyan 50%, #5d6771 50%, #5d6771);
}

.progress-radial {
	display: inline-block;

	width: 10vw;
	height: 10vw;
	border-radius: 50%;
	border: 1vw solid #5d6771;
	
	box-shadow: 0 2px 15px rgba(0, 0, 0, 0.3);
	transform: rotate(81deg);
}




.progress-85 b:after {
	content: "85%";
	transform: rotate(-81deg);
}



.progress-radial b:after {
	color: #1bc19c;
	text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
	position: absolute;
	font-weight: 900;
	left: 50%;
	top: 50%;
	width: 50%;
	height: 50%;
	background-color: #2f3439;
	border-radius: 50%;
	margin-left: -25%;
	margin-top: -25%;
	text-align: center;
	line-height: 5vw;
	font-size:calc(2vw - 0.1em) ;
	box-shadow: 0 2px 3px rgba(0, 0, 0, 0.3) inset, 0 0 0 1vw #5d6771;
}




.progress-25{
	background-image: linear-gradient(
			-150deg,
			cyan 50%,
			transparent 50%,
			transparent
		),
		linear-gradient(265deg, cyan 50%, #5d6771 50%, #5d6771);
}

.progress-25 b:after {
	content: "65%";
	transform: rotate(-81deg);
}