* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* margin-top: 1vw;
  display: flex;
  justify-content: center;
  align-items: center; */
}

.App {
}

button {
  padding: 10px 20px;
  border-radius: 8px;
}
