.nav {
  display: flex;
  /* border: 1px solid black; */
  /* width: 300px; */
  justify-content: flex-end;
  gap: 15px;

  @media (max-width: 600px){
   
    justify-content:center;
    
}

  a {
    text-decoration-line: none;
    color: white;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    line-height: 1.4;
    letter-spacing: 1px;


    @media (max-width: 600px){
      font-family: cursive;
      font-size: smaller;
      
  }
  }

  
    
}